html,
body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 15%;
  height: calc(100vh - 1.5rem);
}

.navbar {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1;
  background-color: #f4f4f4;
  padding: 1rem;
}

.channel {
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.channel:hover {
  background-color: #f0f0f0;
}

.channel-message {
  display: flex;
  flex-direction: column;
}

.channel-content {
  margin-top: 0.5em;
}

.channel-timestamp {
  font-size: 0.8em;
  color: gray;
  margin-top: 0.2em;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1em;
}

.message {
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: fit-content;
  max-width: 70%;
}

.message.is-current-user {
  align-self: flex-end;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
  font-size: 0.9em;
  color: #555;
}

.sender {
  font-weight: bold;
  margin-right: 0.5em;
}

.message-content {
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
}

.dm-button {
  border: none;
  color: darkcyan;
  cursor: pointer;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}

.dm-button mat-icon {
  font-size: 1.2em;
}

.input-area {
  grid-row: 3;
  grid-column: 2;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.form mat-form-field {
  flex: 1;
  margin-right: 10px;
}

button[mat-raised-button] {
  margin-left: 10px;
}
