<div class="container">
  <div class="navbar">
    <span class="greeting">{{ currentUser }}</span>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
  <div class="sidebar">
    <div
      class="channel"
      *ngFor="let channel of channels"
      (click)="selectChannel(channel)"
      [class.selectedChannel]="currentChannel === channel.name"
    >
      <div class="channel-message">
        <strong>{{ channel.name }}</strong>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="messages">
      <div
        *ngFor="let message of messages"
        class="message"
        [ngClass]="{ 'is-current-user': message.from == currentUser }"
      >
        <div class="message-header">
          <span class="sender">{{ message.from }}</span>
          <span class="timestamp">{{
            message.timestamp | date : "yyyy.MM.dd. 'at' H:mm"
          }}</span>
        </div>
        <div class="message-content">{{ message.content }}</div>
      </div>
    </div>
  </div>
  <div class="input-area">
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <input
          matInput
          formControlName="message"
          placeholder="Type your message here.."
        />
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        (click)="sendMessage(currentChannel)"
        [disabled]="this.form.pristine"
      >
        <mat-icon aria-label="Send button" fontIcon="send"></mat-icon>
      </button>
    </form>
  </div>
</div>
