.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 30%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 2rem;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card form button {
  background-color: #007bff;
  margin-top: 2rem;
  color: white;
  border: none;
  cursor: pointer;
}

.card form button:hover {
  background-color: #0056b3;
}
